@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0; 
    font-family: 'Poppins', sans-serif;
} 

:root {
    --cortexto: rgb(255, 255, 255);
    --corfundo: black;
    --textomenu: black;
    --cortitulo: rgb(255, 0, 153);

}


header { 
    height: 100px;
    display: flex;
}

.menu {
    display: flex;
    gap: 20px;
    margin-left: 100px;
}

a {
    text-transform: uppercase; 
    color: var(--textomenu);
    text-decoration: none;
    padding: 20px;
}

.menu a:hover {
    color: rgb(255, 0, 153);
}

li {
    margin-right: 10px;
    margin-top: 35px;
    margin-bottom: 10px;
    list-style: none;
}

p{
    color: var(--cortexto);
    font-size: 13pt;
    font-family: 10px;
    display: block;
    padding-right: 150px;
}

.titulo{
    color: var(--cortitulo);
    margin-top: 50px;
    font-size: 40pt;
    margin-bottom: 20px;

}

.poster{
    margin-top: 72px;
    margin-left: 80px;
    margin-right: 50px;
}

   main {
    display: flex;
    width: 80%;
    background-color: var(--corfundo);
    height: 850px;
    margin: 0 auto ;
   }
  
    section {
        width: 80%;  
        height: 600px;
        background-image: url(./dance.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin: 0 auto ;
    }

    .flex-item {
        background-color: var(--corfundo);
        width: 350px;
    }

    .c1 {
flex-grow: 1;
    }
    
.c2 {
    flex-grow: 2;
    margin-top: 45px;
}

.rodape {
    height: 100px;
    display: flex;
    margin-left: 150px;
}
